<p-panel header="Number Pipes" class="p-1">
  <p>Pipes included in Angular - Usually in the Common Module</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Net Sales" subheader="of the current year">
      {{ totalSells | number : "1.2-2" }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Gross Sales" subheader="of the current year">
      {{ totalSells + 13864 | currency : "COP" : "symbol-narrow" : "1.4-4" }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Percentage Profit" subheader="of the current year">
      {{ percent | percent : "1.2-2" }}
    </p-card>
  </div>
</div>
